body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	background-color: white;
	background-color: #ececec;
}

.container {
	height: 100vh;
	width: 100vw;
	overflow-y: auto;
	position: relative;
}

.wrapper {
	height: 100vh;
	overflow-y: hidden;
	overflow-x: scroll;
	perspective: 10px;
}

.wrapper-Index {
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;
	overflow-x: hidden;
	perspective: 10px;
}

.wrapper-2 {
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	display: flex;
}

header {
	position: relative;
	display: flex;
	justify-content: left;
	align-items: center;
	height: 100%;
	transform-style: preserve-3d;
	z-index: -1;
	border: none;
}

.parrallax {
	transform: translateZ(-10px) scale(2);
}

.background-image {
	height: 102%;
	position: absolute;
	width: 100%;
	object-fit: cover;
	margin: 0;
	padding: 0;
	opacity: 100%;
	z-index: -1;
}

.title {
	padding: 20px;
	font-family: 'Lato', 'Century Gothic';
	opacity: 60%;
	font-size: 30px;
	color: black;
	transform: scaleY(1.25);
	width: 45vw;
	margin-left: 2.5vw;
	text-align: center;
}

.title-loading {
	position: relative;
	animation-name: title-loading;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes title-loading {
	from {
		opacity: 0;
	}

	to {
		opacity: 60%;
	}
}

.navbar {
	z-index: 15;
	position: fixed;
	color: #333333;
	font-family: 'Century Gothic';
	width: 100vw;
	font-size: 14px;
	margin-top: 0.5vh;
	display: flex;
	align-items: center;
}

.navbar-loading {
	position: relative;
	animation-name: navbar-loading;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes navbar-loading {
	from {
		opacity: 0;
	}

	to {
		opacity: 82.5%;
	}
}

.white {
	color: white;
	opacity: 50%;
}

.white-change {
	color: white;
	opacity: 50%;
}

.nav-list {
	display: inline-flex;
	justify-content: right;
	list-style: none;
	width: 95vw;
}

.list-items {
	text-align: center;
	margin-left: 2.5vw;
	margin-right: 0.25vw;
}

	.list-items:hover {
		transform: translateY(-5px);
		cursor: pointer;
	}

.list-items-CV {
	text-align: center;
	margin-left: 2.5vw;
	margin-right: 0.25vw;
	width: 5vw;
	background-color: black;
	border-radius: 5vw;
	border: 1px solid black;
	color: white;
	opacity: 75%;
}

	.list-items-CV:hover {
		opacity: 50%;
		cursor: pointer;
	}

.nav-name {
	position:absolute;
	margin-left: 30vw;
}

.nav-icon {
	position: absolute;
	margin-left: 1.75vw;
	width: 1.75vw;
	margin-top: 0.25vh;
}

.description-container {
	font-family: 'Century Gothic';
	position: absolute;
	z-index: 10;
	color: darkblue grey;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 30px 2px #000;
	padding-top: 0;
	margin-top: -100vh;
	height: 110%;
	border: 1px solid black;
	left: 50%;
	display: flex;
	justify-content: space-around;
	width: 2500px;
}

.description-container-Index {
	font-family: 'Century Gothic';
	position: absolute;
	z-index: 10;
	color: darkblue grey;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 30px 2px #000;
	padding-top: 0;
	margin-top: -100vh;
	height: 110%;
	left: 50%;
	border: none;
	display: flex;
	justify-content: space-around;
	width: 50vw;
	align-content
}


.move-left {
	position: relative;
	animation-name: left;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes left {
	from {
		transform: translateX(175px);
	}

	to {
		transform: translateX(0px);
	}
}

.one {
	position: relative;
	animation-name: one;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes one {
	from {
		transform: translateX(175px);
	}

	to {
		transform: translateX(0px);
	}
}

.two {
	position: relative;
	animation-name: two;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes two {
	from {
		transform: translateX(275px);
	}

	to {
		transform: translateX(0px);
	}
}

.three {
	position: relative;
	animation-name: three;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes three {
	from {
		transform: translateX(375px);
	}

	to {
		transform: translateX(0px);
	}
}

.four {
	position: relative;
	animation-name: four;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes four {
	from {
		transform: translateX(475px);
	}

	to {
		transform: translateX(0px);
	}
}

.five {
	position: relative;
	animation-name: five;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes five {
	from {
		transform: translateX(575px);
	}

	to {
		transform: translateX(0px);
	}
}

.six {
	position: relative;
	animation-name: six;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes six {
	from {
		transform: translateX(675px);
	}

	to {
		transform: translateX(0px);
	}
}

.seven {
	position: relative;
	animation-name: seven;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes seven {
	from {
		transform: translateX(775px);
	}

	to {
		transform: translateX(0px);
	}
}

.descriptions {
	height: 35vh;
	width: 45vw;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	background-color: white;
	opacity: 50%;
	border-radius: 0px 10px 0px 10px;
	
}

.descriptions-2 {
	height: 20vh;
	width: 45vw;
	margin-top: 5vh;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	background-color: white;
	opacity: 50%;
	border-radius: 10px 0px 10px 0px;
}

.descriptions-3 {
	height: 15vh;
	width: 45vw;
	margin-top: 7vh;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.indivisual-descriptions {
	width: 37.5vw;
	padding: 20px;
	text-align: center;
	height: 160px;
	display: flex;
	align-items: center;
}

.indivisual-descriptions-2 {
	width: 10vw;
	padding: 20px;
	text-align: center;
	height: 50%;
	display: flex;
	align-items: center;
	border-right: 1px solid black;
}

.border-left {
	margin-left: 2vw;
	margin-right: 2vw;
	text-align: center;
}

.sidebar {
	border-left: 1px solid black;
	width: 75px;
	margin-left: 39px;
	height: 80%;
	margin-top: 5%;
	position: absolute;
	z-index: 5;
}

.sidebar-Index {
	border-left: 1px solid white;
	width: 75px;
	margin-left: 39px;
	height: 80%;
	margin-top: 5%;
	position: absolute;
	z-index: 5;
}

.sidebar-down {
	position: absolute;
	animation-name: sidebar-down;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
	transition: ease-in-out;
}

@keyframes sidebar-down {
	from {
		height: 20%;
	}

	to {
		height: 80%;
	}
}

.sidebar-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	font-family: 'Century Gothic';
	font-size: 12px;
	align-content: center;
	align-items: center;
	width: 10px;
}

.hidden {
	opacity: 0;
}

.border {
	border-radius: 30px;
	margin-top: 0;
	margin-right: 0;
	margin-right: 0;
	margin-left: -10px;
	padding: 0;
	width: 25px;
	height: 25px;
	background-color: white;
	z-index: 10;
	display: flex;
	border: 1px solid white;
	align-items: center;
	justify-content: center;
}

.portrait {
	display: none;
}

@media screen and (max-width:1100px) {
	.navbar {
		font-size: 10px;
		right: 20px;
		left: 12.5px;
		right: 15px;
	}

	.nav-name {
		display: none;
	}

	.nav-list {
		justify-content: center
	}

	.indivisual-descriptions {
		font-size: 10px;
	}

	.title {
		font-size: 20px;
	}

	.descriptions {
		margin-top: 25px;
	}
}

.arrow-dimensions {
	height: 25px;
	width: 40px;
	margin-top: 75vh;
	display: absolute;
	margin-left: -150px;
}

.arrow {
	animation-name: arrow;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	scroll-behavior: smooth;
	transition: ease-out;
}

@keyframes arrow {
	from {
		margin-left: -150px;
		opacity: 100%
	}

	to {
		margin-left: -75px;
		opacity: 0%
	}
}

a {
	text-decoration-line: none;
	color: #333333;
}

.description-container-2 {
	font-family: 'Century Gothic';
	position: absolute;
	z-index: 10;
	color: darkblue grey;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 30px 2px #000;
	padding-top: 0;
	margin-top: -100vh;
	height: 110%;
	border: 1px solid black;
	left: 50%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width: 10000px;
	overflow: hidden;
}

.description-container-Planning {
	font-family: 'Century Gothic';
	position: absolute;
	z-index: 10;
	color: darkblue grey;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 30px 2px #000;
	padding-top: 0;
	margin-top: -100vh;
	height: 110%;
	left: 50%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width: 11000px;
	overflow: hidden;
}

.description-container-Technical {
	font-family: 'Century Gothic';
	position: absolute;
	z-index: 10;
	color: darkblue grey;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 30px 2px #000;
	padding-top: 0;
	margin-top: -100vh;
	height: 110%;
	left: 50%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width: 10000px;
	overflow: hidden;
}

.description-container-university {
	font-family: 'Century Gothic';
	position: absolute;
	z-index: 10;
	color: darkblue grey;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 30px 2px #000;
	padding-top: 0;
	margin-top: -100vh;
	height: 110%;
	left: 50%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width: 10000px;
	overflow: hidden;
}

.description-container-BCAST {
	font-family: 'Century Gothic';
	position: absolute;
	z-index: 10;
	color: darkblue grey;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 30px 2px #000;
	padding-top: 0;
	margin-top: -100vh;
	height: 110%;
	border: none;
	left: 50%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width: 15000px;
	overflow: hidden;
}

.introduction {
	height: 80vh;
	width: 42vw;
	margin-left: 50px;
	margin-right: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.introduction-technical {
	height: 40vh;
	width: 42vw;
	margin-left: 50px;
	margin-right: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
	padding: 25px;
	opacity: 50%;
}

.introduction-paragraph {
	height: 45vh;
	width: 35vw;
	margin-left: 50px;
	margin-right: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
	padding: 25px;
	opacity: 50%;
	text-align: center;
}

.introduction-paragraph-university {
	text-align: center;
	color: black;
}

.introduction-paragraph-technical {
	text-align: center;
	font-size: 12px;
	color: black;
}


.introduction-logos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.logo-text {
	text-align: center;
	font-family: 'Century Gothic';
	font-size: 16px;
}

.logo-container {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	height: 20vh;
	width: 100%;
}

.logo-heights {
	height: 10vh;
	width: auto;
}

.logo-heights-Index {
	height: 5vh;
	width: auto;
}

.small-logo-text {
	font-size: 10px;
	font-family: 'Century Gothic';
	text-align: center;
	color: white;
	opacity: 75%;
}

.logo-group {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

@media screen and (orientation: portrait) {
	.landscape {
		display: none;
	}

	.portrait {
		display: block;
		background-color: black;
		width: 100%;
		height: 110vh;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}

	.rotate-image {
		width: 100vw;
		height: 100vw;
	}
}

body {
	margin: 0;
}

.carousel {
	width: 100%;
	height: 67vh;
	position: relative;
	display: flex;
	padding: 0;
	margin: 0;
}

	.carousel > ul {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 189.84vh;

	}

.slide {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: 200ms opacity ease-out;
	transition-delay: 200ms;
	height: 67vh;
	width: 189.84vh;
	display: flex;
	justify-content: center;
	background-color: white;
}

.slide > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

	.slide > p {
		width: 75%;
		text-align: center;
	}

.slide-2 {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: 200ms opacity ease-out;
	transition-delay: 200ms;
	height: 67vh;
	object-fit:cover;
}

	.slide-2 > img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.slide-2 > p {
		width: 75%;
		text-align: center;
	}

.slide-3 {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: 200ms opacity ease-out;
	transition-delay: 200ms;
	height: 67vh;
	object-fit: cover;
}

	.slide-3 > img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.slide-3 > p {
		width: 75%;
		text-align: center;
	}

.center {
	display: flex;
	justify-content: center;
}

.carousel-indicator {
	position: absolute;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 100%;
	margin-top: 65vh;
	font-size: 16px;
	z-index: 15;
	color: #333333;
}

.larger {
	font-size: 22px;
}

.slide[data-active] {
	opacity: 1;
	transition-delay: 0ms;
	z-index: 10;
}

.slide-2[data-active] {
	opacity: 1;
	transition-delay: 0ms;
	z-index: 10;
}

.carousel-button {
	position: absolute;
	background: none;
	border: none;
	font-size: 32px;
	top: 50%;
	z-index: 15;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
	border-radius: 3px;
	padding: 0 6px;
	background-color: rgba(0, 0, 0, 0.1);
	margin-right: 0;
}

	.carousel-button:hover,
	.carousel-button:focus {
		color: white;
		background-color: rgba(0, 0, 0, .2);
	}

	.carousel-button:focus {
		outline: 1px solid black;
	}

	.carousel-button.prev {
		left: 16px;
	}

	.carousel-button.next {
		right: 16px;
	}

.size {
	height: 100%;
	object-fit: cover;
}

embed {
	width: 100%;
	height: 100%;
}

.section-container {
	width: 189.84vh;
	height: 67vh;
	padding-left: 0;
	padding-right: 0;
	margin-right: 10vw;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.section-container-2 {
	width: 93.8vh;
	height: 67vh;
	padding-left: 0;
	padding-right: 0;
	margin-right: 10vw;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.section-container-3 {
	width: 120vh;
	height: 67vh;
	padding-left: 0;
	padding-right: 0;
	margin-right: 10vw;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.front-slide {
	background-color: #eeeeee;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

.front-slide-image-container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

.front-slide-image {
	height: 100%;
	width: 100%;
}

.front-slide-image-2 {
	width: 100%;
}

.front-slide-text {
	position: absolute;
	z-index: 15;
	text-align: center;
	width: 75%;
	background-color: #222222;
	opacity: 75%;
	padding: 1vw;
}

.design-background {
	position: absolute;
	z-index: 15;
	text-align: center;
	width: 75%;
	background-color: none;
	opacity: 75%;
	padding: 1vw;
}

h1 {
	font-size: 16px;
	font-family: 'Century Gothic';
	color: #333333;
}

p {
	font-size: 12px;
	font-family: 'Century Gothic';
}

.cards-text {
	font-size: 10px;
	color: #D3D3D3;
}

.blue {
	color: blue;
}

.blue:hover {
	opacity: 65%;
	text-decoration: underline;
}

	.blue:visited {
		color: purple;
	}

.fullscreen-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-content: center;
}

.fullscreen-image {
	height: 100%;

}

.Side {
	rotate: 90deg;
	color: black;
	padding: 0;
	margin: 0;
	border: 2px solid green;
}

.SideDiv {
	border: 5px solid red;
	height: 75%;
	width: 30vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: black;
	transform: scaleY(1.25);
	width: 7.5vw;
	margin-left: 0;
	margin-top: 12.%;
	text-align: center;
	border: 5px solid red;
	overflow: hidden;
	white-space: nowrap;
	font-size: 3vw;
}

@media screen and (max-height:600px) {
	.introduction {
		width: 42vw;
	}

	.front-slide-text {
		font-size: 8px;
	}

	.introduction-paragraph {
		font-size: 8px;
	}

	.small-logo-text {
		font-size: 8px;
	}

	h1 {
		font-size: 10px;
	}

	p {
		font-size: 8px;
	}

	.navbar {
		font-size: 8px;
	}

	.carousel-indicator {
		font-size: 8px;
	}

	.small-logo-text {
		font-size: 8px;
	}
	.cards-text {
		font-size: 6px;
	}
	.logo-heights {
		height: 5vh;
	}

}

@media screen and (max-height:400px) {
	.introduction {
		width: 42vw;
	}

	.introduction-paragraph {
		margin-left: 0;
		left: 0;
		font-size: 5px;
		width: 25vw;
		height: 80vh;
	}

	.front-slide-text {
		font-size: 5px;
	}

	.cards-text {
		font-size: 5px;
	}

	.description-container-BCAST {
		width: 7000px;
	}

	.description-container-Technical {
		width: 5500px;
	}

	.description-container-Planning {
		width: 5500px;
	}

	.introduction-technical {
		font-size: 5px;
		width: 25vw;
		height: 50vh;
	}

	.carousel-indicator {
		display: none;
	}

	.introduction-logos {
		display: none;
	}

	.border {
		width: 12.5px;
		height: 12.5px;
	}

	.small-logo-text {
		font-size: 5px;
	}

	.sidebar-list {
		font-size: 6px;
	}


	.sidebar {
		margin-left: 25px;
	}

	h1 {
		font-size: 6px;
	}

	p {
		font-size: 5px;
	}

	.navbar {
		font-size: 5px;
	}

	.carousel-indicator {
		font-size: 5px;
	}

	.small-logo-text {
		font-size: 5px;
	}

	.cards-text {
		font-size: 6px;
	}

	.logo-heights {
		height: 3vh;
	}

	.white-change {
		color: #333333;
	}

}

@media screen and (max-height:700px) {
	.introduction {
		width: 42vw;
	}

	.introduction-paragraph {
		margin-left: 0;
		left: 0;
		font-size: 7px;
		width: 35vw;
		height: 80vh;
	}

	.front-slide-text {
		font-size: 5px;
	}

	.cards-text {
		font-size: 5px;
	}

	.description-container-BCAST {
		width: 9000px;
	}

	.description-container-Technical {
		width: 7000px;
	}

	.description-container-Planning {
		width: 5500px;
	}

	.introduction-technical {
		font-size: 7px;
		width: 25vw;
		height: 50vh;
	}

	.carousel-indicator {
		display: none;
	}

	.introduction-logos {
		display: none;
	}

	.border {
		width: 12.5px;
		height: 12.5px;
	}

	.small-logo-text {
		font-size: 7px;
	}

	.sidebar-list {
		font-size: 8px;
	}


	.sidebar {
		margin-left: 25px;
	}

	h1 {
		font-size: 8px;
	}

	p {
		font-size: 7px;
	}

	.navbar {
		font-size: 7px;
	}

	.carousel-indicator {
		font-size: 7px;
	}

	.small-logo-text {
		font-size: 7px;
	}

	.cards-text {
		font-size: 8px;
	}

	.logo-heights {
		height: 3vh;
	}

	.white-change {
		color: #333333;
	}



	.introduction-technical {
		width: 35vw;
	}
}

@media screen and (max-width:991px) {
	.logo-heights {
		height: 5vh;
	}

	.logo-text {
		font-size: 8px;
	}

	.small-logo-text {
		display: none;
	}

	.cards-text {
		font-size: 6px;
	}

	.descriptions-2 {
		display: none;
	}

	.descriptions-3 {
		display: none;
	}

	.descriptions {
		height: 80vh;
		margin-top: 80px;
	}

	.description-container-Planning {
		width: 10000px;
	}

	.cards-text {
		font-size: 8px;
	}
}

@media screen and (max-height: 500px) {
	
	.front-slide-text {
	font-size: 5px;
}

.cards-text {
	font-size: 5px;
}
}


@media screen and (max-width: 700px) {
	.introduction {
		width: 42vw;
	}

	.introduction-paragraph {
		margin-left: 0;
		left: 0;
		font-size: 5px;
		width: 25vw;
		height: 80vh;
	}

	.front-slide-text {
		font-size: 5px;
	}

	.cards-text {
		font-size: 5px;
	}

	.description-container-BCAST {
		width: 7000px;
	}

	.description-container-Technical {
		width: 5500px;
	}

	.description-container-Planning {
		width: 7000px;
	}

	.introduction-technical {
		font-size: 5px;
		width: 25vw;
		height: 50vh;
	}

	.carousel-indicator {
		display: none;
	}

	.introduction-logos {
		display: none;
	}

	.border {
		width: 12.5px;
		height: 12.5px;
	}

	.small-logo-text {
		font-size: 5px;
	}

	.sidebar-list {
		font-size: 6px;
	}


	.sidebar {
		margin-left: 25px;
	}

	h1 {
		font-size: 6px;
	}

	p {
		font-size: 5px;
	}

	.navbar {
		font-size: 5px;
	}

	.carousel-indicator {
		font-size: 5px;
	}

	.small-logo-text {
		font-size: 5px;
	}

	.cards-text {
		font-size: 6px;
	}

	.logo-heights {
		height: 3vh;
	}

	.white-change {
		color: #333333;
	}

}

@media screen and (max-width: 1500px) {
	.description-container-2 {
		width: 13000px;
	}
}
































