body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	background-color: #e6e6e6;
}

.body {
	height: 50vh;
	width: 50vw;

}

.Side {
	rotate: 90deg;
	height: 5vw;
	width: 110vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: right;
	flex-wrap: nowrap;
	position: absolute;
	gap: 1px;
	margin: 0;
	padding: 0;
	font-size: 5vw;;
	color: black;
}

.container {
	height: 100vh;
	width: 100vw;
	overflow-y: auto;
	position: relative;
}

.wrapper {
	height: 100vh;
	overflow-y: hidden;
	overflow-x: auto;
	perspective: 10px;
}

.wrapper-Index {
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;
	overflow-x: hidden;
	perspective: 10px;
}

.wrapper-2 {
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	display: flex;
}

header {
	width: 5vw;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	transform-style: preserve-3d;
	z-index: -1;
}

.parrallax {
	transform: translateZ(-10px) scale(2);
}

.background-image {
	height: 102%;
	position: absolute;
	width: 100%;
	object-fit: cover;
	margin: 0;
	padding: 0;
	opacity: 100%;
	z-index: -1;
}

.title {
	padding: 20px;
	font-family: 'Lato', 'Century Gothic';
	opacity: 60%;
	font-size: 30px;
	color: black;
	transform: scaleY(1.25);
	width: 45vw;
	margin-left: 2.5vw;
	text-align: center;
}

.title-loading {
	position: relative;
	animation-name: title-loading;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes title-loading {
	from {
		opacity: 0;
	}

	to {
		opacity: 60%;
	}
}

.navbar {
	z-index: 15;
	position: fixed;
	color: #333333;
	font-family: 'Century Gothic';
	width: 100vw;
	font-size: 14px;
	margin-top: 0.5vh;
	display: flex;
	align-items: center;
}

.navbar-loading {
	position: relative;
	animation-name: navbar-loading;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes navbar-loading {
	from {
		opacity: 0;
	}

	to {
		opacity: 82.5%;
	}
}

.white {
	color: white;
	opacity: 50%;
}

.white-change {
	color: white;
	opacity: 50%;
}

.nav-list {
	display: inline-flex;
	justify-content: right;
	list-style: none;
	width: 95vw;
}

.list-items {
	text-align: center;
	margin-left: 2.5vw;
	margin-right: 0.25vw;
}

	.list-items:hover {
		transform: translateY(-5px);
		cursor: pointer;
	}

.list-items-CV {
	text-align: center;
	margin-left: 2.5vw;
	margin-right: 0.25vw;
	width: 5vw;
	background-color: black;
	border-radius: 5vw;
	border: 1px solid black;
}

	.list-items-CV:hover {
		opacity: 50%;
		cursor: pointer;
	}

.nav-title1 {
	position:absolute;
	margin-left: 5vw;
	margin-top: 3vw;
	font-size: 3vw;
	font-weight: 100;
	color: black;
	z-index: 15;
}

.nav-title2 {
	position:absolute;
	margin-left: 5vw;
	margin-top: 6vw;
	font-size: 3vw;
	color: white ;
}

.nav-icon {
	position: absolute;
	margin-left: 1.75vw;
	width: 1.75vw;
	margin-top: 0.25vh;
}

.description-container {
	font-family: 'Century Gothic';
	position: absolute;
	z-index: 10;
	color: darkblue grey;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 30px 2px #000;
	padding-top: 0;
	margin-top: -100vh;
	height: 110%;
	border: 1px solid black;
	left: 50%;
	display: flex;
	justify-content: space-around;
	width: 2500px;
}

.description-container-Index {
	font-family: 'Century Gothic';
	position: absolute;
	z-index: 10;
	color: darkblue grey;
	backdrop-filter: blur(5px);
	padding-top: 0;
	margin-top: -100vh;
	height: 110%;
	left: 10%;
	display: flex;
	justify-content: space-around;
	width: 90vw;
}


.move-left {
	position: relative;
	animation-name: left;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes left {
	from {
		transform: translateX(175px);
	}

	to {
		transform: translateX(0px);
	}
}

.one {
	position: relative;
	animation-name: one;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes one {
	from {
		transform: translateX(175px);
	}

	to {
		transform: translateX(0px);
	}
}

.two {
	position: relative;
	animation-name: two;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes two {
	from {
		transform: translateX(275px);
	}

	to {
		transform: translateX(0px);
	}
}

.three {
	position: relative;
	animation-name: three;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes three {
	from {
		transform: translateX(375px);
	}

	to {
		transform: translateX(0px);
	}
}

.four {
	position: relative;
	animation-name: four;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes four {
	from {
		transform: translateX(475px);
	}

	to {
		transform: translateX(0px);
	}
}

.five {
	position: relative;
	animation-name: five;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes five {
	from {
		transform: translateX(575px);
	}

	to {
		transform: translateX(0px);
	}
}

.six {
	position: relative;
	animation-name: six;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes six {
	from {
		transform: translateX(675px);
	}

	to {
		transform: translateX(0px);
	}
}

.seven {
	position: relative;
	animation-name: seven;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
}

@keyframes seven {
	from {
		transform: translateX(775px);
	}

	to {
		transform: translateX(0px);
	}
}

 .descriptions-div {
	height: 60vh;
	width: 80%;
	margin-top: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: black;
	overflow: none;
 }


  .div1 {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	overflow: none;
 }

  .titles1 {
	display: flex;
	width: 100%;
	margin-right: 5%;
	height: 100%;
	color: white;
	font-size: 22px;
	overflow: hidden;
	object-fit: contain;
 }

 .titles2 {
	width: 100%;
	margin-right: 5%;
	height: 100%;
	color: white;
	font-size: 22px;
	overflow: hidden;
	object-fit: contain;
 }

 .titles3 {
	width: 100%;
	margin-right: 5%;
	height: 100%;
	color: white;
	font-size: 22px;
	overflow: hidden;
	object-fit: contain;
 }
  .titles4 {
	width: 100%;
	height: 100%;
	color: white;
	font-size: 22px;
	overflow: hidden;
	object-fit: contain;
 }

.div2 {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	color: black;
	overflow: none;
	object-fit: contain;
	z-index: 15;
 }


.descriptions-3 {
	height: 118%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: left;
	align-items: left;
	justify-content: left;
	padding: 0;
}

.indivisual-descriptions {
	width: 100%;
	padding: 0;
	margin-right: 5%;
	text-align: left;
	height: 118%;
	display: flex;
	align-items: top;
	font-size: 10px;
	opacity: 100%;
}

.indivisual-descriptions2 {
	width: 100%;
	padding: 0;
	margin-right: 5%;
	text-align: left;
	height: 118%;
	display: flex;
	align-items: top;
	font-size: 10px;
	opacity: 100%;
	flex-direction: column;
}

.indivisual-descriptions3 {
	width: 100%;
	padding: 0;
	margin-right: 5%;
	text-align: left;
	height: 118%;
	display: flex;
	align-items: top;
	font-size: 10px;
	opacity: 100%;
	flex-direction: column;
}

  .div3 {
	height: 12.25%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	overflow: none;
 }

 
.div4 {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	color: black;
	overflow: none;
	object-fit: contain;
	z-index: 15;
 }

.border-left {
	margin-left: 2vw;
	margin-right: 2vw;
	text-align: center;
}

.sidebar-Index {
	border-left: 1px solid white;
	width: 75px;
	margin-left: 39px;
	height: 80%;
	margin-top: 5%;
	position: absolute;
	z-index: 5;
}

.sidebar-down {
	position: absolute;
	animation-name: sidebar-down;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
	transition: ease-in-out;
}

@keyframes sidebar-down {
	from {
		height: 20%;
	}

	to {
		height: 80%;
	}
}

.paragraph1 {
	animation-name: paragraph1;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
	transition: ease-in-out;
}

@keyframes paragraph1 {
	from {
		opacity: 0%;
		transform: translateY(35px);
	}

	to {
		opacity: 100%;
		transform: translateY(0px);
	}
}

.paragraph2 {
	animation-name: paragraph2;
	animation-duration: 3.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
	transition: ease-in-out;
}

@keyframes paragraph2 {
	from {
		opacity: 0%;
		transform: translateY(80px);
	}

	to {
		opacity: 100%;
		transform: translateY(0px);
	}
}

.paragraph3 {
	animation-name: paragraph3;
	animation-duration: 4.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
	transition: ease-in-out;
}

@keyframes paragraph3 {
	from {
		opacity: 0%;
		transform: translateY(120px);
	}

	to {
		opacity: 100%;
		transform: translateY(0px);
	}
}

.paragraph4 {
	animation-name: paragraph4;
	animation-duration: 5.5s;
	animation-iteration-count: 1;
	scroll-behavior: smooth;
	transition: ease-in-out;
}

@keyframes paragraph4 {
	from {
		opacity: 0%;
		transform: translateY(150px);
	}

	to {
		opacity: 100%;
		transform: translateY(0px);
	}
}

.thick {
	animation-name: thick;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	scroll-behavior: smooth;
	transition: ease-in-out;
	animation-delay: 10s;
}

@keyframes thick {
	from {
		font-weight: lighter;
	}

	50% {
		font-weight:bold;
	}
	100% {
		font-weight: lighter;
	}
}


.hidden {
	opacity: 0;
}

.border {
	border-radius: 30px;
	margin-top: 0;
	margin-right: 0;
	margin-right: 0;
	margin-left: -10px;
	padding: 0;
	width: 25px;
	height: 25px;
	background-color: white;
	z-index: 10;
	display: flex;
	border: 1px solid white;
	align-items: center;
	justify-content: center;
}

.portrait {
	display: none;
}

.arrow-dimensions {
	height: 25px;
	width: 40px;
	margin-top: 75vh;
	display: absolute;
	margin-left: -150px;
}

.arrow {
	animation-name: arrow;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	scroll-behavior: smooth;
	transition: ease-out;
}

@keyframes arrow {
	from {
		margin-left: -150px;
		opacity: 100%
	}

	to {
		margin-left: -75px;
		opacity: 0%
	}
}

a {
	text-decoration-line: none;
	color: #333333;
}

.description-container-2 {
	font-family: 'Century Gothic';
	position: absolute;
	z-index: 10;
	color: darkblue grey;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 30px 2px #000;
	padding-top: 0;
	margin-top: -100vh;
	height: 110%;
	border: 1px solid black;
	left: 50%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width: 10000px;
	overflow: hidden;
}

.description-container-Planning {
	font-family: 'Century Gothic';
	position: absolute;
	z-index: 10;
	color: darkblue grey;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 30px 2px #000;
	padding-top: 0;
	margin-top: -100vh;
	height: 110%;
	border: 1px solid black;
	left: 50%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width: 11000px;
	overflow: hidden;
}

.description-container-Technical {
	font-family: 'Century Gothic';
	position: absolute;
	z-index: 10;
	color: darkblue grey;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 30px 2px #000;
	padding-top: 0;
	margin-top: -100vh;
	height: 110%;
	border: 1px solid black;
	left: 50%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width: 10000px;
	overflow: hidden;
}

.description-container-university {
	font-family: 'Century Gothic';
	position: absolute;
	z-index: 10;
	padding-top: 0;
	margin-top: -100vh;
	height: 110%;
	left: 10%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width: 7000px;
	overflow: hidden;
}

.description-container-BCAST {
	font-family: 'Century Gothic';
	position: absolute;
	z-index: 10;
	padding-top: 0;
	margin-top: -100vh;
	height: 110%;
	left: 10%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width: 9000px;
	overflow: hidden;
}

.introduction {
	height: 60vh;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 30vh;
	overflow: none;
}

.introduction2 {
	height: 60vh;
	width: 15%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 30vh;
	overflow: none;
}

.introduction-technical {
	height: 40vh;
	width: 42vw;
	margin-left: 50px;
	margin-right: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
	padding: 25px;
	opacity: 50%;
}

.introduction-paragraph {
	height: 45vh;
	width: 35vw;
	margin-left: 50px;
	margin-right: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
	padding: 25px;
	opacity: 50%;
	text-align: center;
}

.introduction-paragraph-university {
	text-align: center;
	color: black;
}

.introduction-paragraph-technical {
	text-align: center;
	font-size: 12px;
	color: black;
}


.introduction-logos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 0;
}

.logo-text {
	text-align: left;
	font-family: 'Century Gothic';
	font-size: 16px;
}

.logo-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	height: 100%;
	width: 50%;
}

.logo-heights {
	height: 10vh;
	width: auto;
}

.logo-heights-Index {
	height: 2vh;
	width: auto;
}

.small-logo-text {
	font-size: 10px;
	font-family: 'Century Gothic';
	text-align: center;
	color: black;
	opacity: 75%;
}

.logo-group {
	display: flex;
	justify-content: left;
	align-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 0;
	margin-right: 100%;
}

@media screen and (orientation: portrait) {
	.landscape {
		display: none;
	}

	.portrait {
		display: block;
		background-color: black;
		width: 100%;
		height: 110vh;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}

	.rotate-image {
		width: 100vw;
		height: 100vw;
	}
}

body {
	margin: 0;
}

.carousel {
	width: 100%;
	height: 67vh;
	position: relative;
	display: flex;
	padding: 0;
	margin: 0;
}

	.carousel > ul {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 189.84vh;

	}

.slide {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: 200ms opacity ease-out;
	transition-delay: 200ms;
	height: 67vh;
	width: 189.84vh;
	display: flex;
	justify-content: center;
	background-color: white;
}

.slide > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

	.slide > p {
		width: 75%;
		text-align: center;
	}

.slide-2 {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: 200ms opacity ease-out;
	transition-delay: 200ms;
	height: 67vh;
	object-fit:cover;
}

	.slide-2 > img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.slide-2 > p {
		width: 75%;
		text-align: center;
	}

.slide-3 {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: 200ms opacity ease-out;
	transition-delay: 200ms;
	height: 67vh;
	object-fit: cover;
}

	.slide-3 > img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.slide-3 > p {
		width: 75%;
		text-align: center;
	}

.center {
	display: flex;
	justify-content: center;
}

.carousel-indicator {
	position: absolute;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 100%;
	margin-top: 65vh;
	font-size: 16px;
	z-index: 15;
	color: #333333;
}

.larger {
	font-size: 22px;
}

.slide[data-active] {
	opacity: 1;
	transition-delay: 0ms;
	z-index: 10;
}

.slide-2[data-active] {
	opacity: 1;
	transition-delay: 0ms;
	z-index: 10;
}

.carousel-button {
	position: absolute;
	background: none;
	border: none;
	font-size: 32px;
	top: 50%;
	z-index: 15;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
	border-radius: 3px;
	padding: 0 6px;
	background-color: rgba(0, 0, 0, 0.1);
	margin-right: 0;
}

	.carousel-button:hover,
	.carousel-button:focus {
		color: white;
		background-color: rgba(0, 0, 0, .2);
	}

	.carousel-button:focus {
		outline: 1px solid black;
	}

	.carousel-button.prev {
		left: 16px;
	}

	.carousel-button.next {
		right: 16px;
	}

.size {
	height: 100%;
	object-fit: cover;
}

embed {
	width: 100%;
	height: 100%;
}

.section-container {
	width: 189.84vh;
	height: 67vh;
	padding-left: 0;
	padding-right: 0;
	margin-right: 10vw;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.section-container-2 {
	width: 93.8vh;
	height: 67vh;
	padding-left: 0;
	padding-right: 0;
	margin-right: 10vw;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.section-container-3 {
	width: 120vh;
	height: 67vh;
	padding-left: 0;
	padding-right: 0;
	margin-right: 10vw;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.front-slide {
	background-color: #eeeeee;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

.front-slide-image-container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

.front-slide-image {
	height: 100%;
	width: 100%;
}

.front-slide-image-2 {
	width: 100%;
}

.front-slide-text {
	position: absolute;
	z-index: 15;
	text-align: center;
	width: 75%;
	background-color: #222222;
	opacity: 75%;
	padding: 1vw;
}

.design-background {
	position: absolute;
	z-index: 15;
	text-align: center;
	width: 75%;
	background-color: none;
	opacity: 75%;
	padding: 1vw;
}

h1 {
	font-size: 16px;
	font-family: 'Century Gothic';
	color: #333333;
}

p {
	font-size: 12px;
	font-family: 'Century Gothic';
}

.cards-text {
	font-size: 10px;
	color: #D3D3D3;
}

.blue {
	color: blue;
}

.blue:hover {
	opacity: 65%;
	text-decoration: underline;
}

	.blue:visited {
		color: purple;
	}

.fullscreen-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-content: center;
}

.fullscreen-image {
	height: 100%;

}

@media screen and (min-width: 1600px) and (max-width: 1919px) {

	.description-container-BCAST {
		width: 9000px;
	}

	.description-container-university {
		width: 9000px;
	}
}

@media screen and (min-width: 1920px) and (max-width:2255px) {
	.description-container-BCAST {
		width: 12750px;
	}

	.description-container-university {
		width: 9750px;
	}
}

@media screen and (min-height: 1440px) {
	.div1 {
		height: 12%;
	}
}

@media screen and (min-height: 1080px) and (max-height: 1339px) {
	.div1 {
		height: 12%;
	}
}


@media screen and (min-width: 2256px) and (max-width: 3839px) {
	.description-container-BCAST {
		width: 17250px;
	}

	.description-container-university {
		width: 12700px;
	}

	.descriptions-div {
	width: 70%;
	}

	.Side {
		height: 9vw;
		font-size: 80px;
		text-align: center;
		margin-left: -10px;
	}

	.navbar {
		font-size: 16px;
	}

	.Side {
		font-size: 150px;
	}

	.titles1{
		font-size:40px;
	}

	.titles2{
		font-size:40px;
	}

	.titles3{
		font-size:40px;
	}

	.titles4{
		font-size:40px;
	}

	.div1 {
		width: 130%;
	}

	.div2 {
		width: 130%;
	}

	.indivisual-descriptions {
		font-size: 18px;
	}

	.indivisual-descriptions2 {
		font-size: 18px;
	}

	.indivisual-descriptions3 {
		font-size: 18px;
	}
	

	.indivisual-descriptions4 {
		font-size: 18px;
	}
	
	.small-logo-text {
		font-size: 18px;
	}
}

@media screen and (min-width: 2256px) and (max-width: 2559px) {
	.navbar {
		font-size: 26px;
	}
	.titles1{
		font-size:40px;
	}

	.titles2{
		font-size:40px;
	}

	.titles3{
		font-size:40px;
	}

	.titles4{
		font-size:40px;
	}

	.div1 {
		width: 130%;
	}

	.div2 {
		width: 130%;
	}

	.indivisual-descriptions {
		font-size: 18px;
	}

	.indivisual-descriptions2 {
		font-size: 18px;
	}

	.indivisual-descriptions3 {
		font-size: 18px;
	}
	

	.indivisual-descriptions4 {
		font-size: 18px;
	}

	.small-logo-text {
		font-size: 18px;
	}
}

@media screen and (min-width: 2560px) and (max-width: 3839px) {
	.description-container-BCAST {
		width: 17000px;
	}

	.navbar {
		font-size: 20px;
	}
}

@media screen and (min-width: 3840px) {
	.Side {
		font-size: 150px;
		height: 2.5vw;
	}

	.navbar {
		font-size: 20px;
	}

	.indivisual-descriptions {
		font-size: 18px;
	}

	.indivisual-descriptions2 {
		font-size: 18px;
	}

	.indivisual-descriptions3 {
		font-size: 18px;
	}
	

	.indivisual-descriptions4 {
		font-size: 18px;
	}

	.small-logo-text {
		font-size: 18px;
	}
	
	.titles1{
		font-size:40px;
	}

	.titles2{
		font-size:40px;
	}

	.titles3{
		font-size:40px;
	}

	.titles4{
		font-size:40px;
	}

	.description-container-BCAST {
		width: 25250px;
	}

	.description-container-university {
		width: 18000px;
	}
}

@media screen and (width: 1920px) and (height: 1080px) {
	.navbar {
		font-size: 20px;
	}

	.titles1{
		font-size:25px;
	}

	.titles2{
		font-size:25px;
	}

	.titles3{
		font-size:25px;
	}

	.titles4{
		font-size:25px;
	}

	.indivisual-descriptions {
		font-size: 14px;
	}

	.indivisual-descriptions2 {
		font-size: 14px;
	}

	.indivisual-descriptions3 {
		font-size: 14px;
	}
	

	.indivisual-descriptions4 {
		font-size: 14px;
	}

	.small-logo-text {
		font-size: 14px;
	}

	.div2 {
		margin-top: 12.5px;
	}

	.div4 {
		margin-top: 7.5px;
	}

	.Side {
		font-size: 110px;
		margin-left: 25px;
	}
}

@media screen and (width: 2880px) and (height: 1800px) {
	.description-container-BCAST {
		width: 21000px;
	}

	.description-container-university {
		width: 15250px;
	}
}

@media screen and (width: 2560px) and (height: 1600px) {
	.description-container-BCAST {
		width: 18500px;
	}

	.description-container-university {
		width: 14000px;
	}
}

@media screen and (width: 2560px) and (height: 1440px) {
	.Side {
		margin-left: -20px;
	}
}

@media screen and (width: 3840px) and (height: 2160px) {
	.navbar {
		font-size:40px;
	}
	
	.titles1{
		font-size:60px;
	}

	.titles2{
		font-size:60px;
	}

	.titles3{
		font-size:60px;
	}

	.titles4{
		font-size:60px;
	}

	.indivisual-descriptions {
		font-size: 30px;
	}

	.indivisual-descriptions2 {
		font-size: 30px;
	}

	.indivisual-descriptions3 {
		font-size: 30px;
	}
	

	.indivisual-descriptions4 {
		font-size: 30px;
	}

	.Side {
		font-size: 220px;
		margin-left: 150px;
	}

	.descriptions-3 {
	height: 150%;
	margin-top: 450px;
	}

	.small-logo-text {
		font-size: 30px;
	}
}

@media screen and (width: 2560px) and (height: 1080px) {
	.description-container-BCAST {
		width: 13800px;
	}

	.description-container-university {
		width: 12000px;
	}

	.Side {
		font-size: 110px;
		margin-left: -50px;
	}

	.indivisual-descriptions {
		font-size: 14px;
	}

	.indivisual-descriptions2 {
		font-size: 14px;
	}

	.indivisual-descriptions3 {
		font-size: 14px;
	}
	

	.indivisual-descriptions4 {
		font-size: 14px;
	}

	.small-logo-text {
		font-size: 14px;
	}

	.div2 {
		margin-top: 10px;
	}

	.div4 {
		margin-top: 10px;
	}
}

@media screen and (width: 3440px) and (height: 1440px) {
	.navbar {
		font-size: 30px;
	}

	.Side {
		margin-left: -70px;
	}

	.description-container-BCAST {
		width: 18000px;
	}

	.description-container-university {
		width: 14000px;
	}
}

@media screen and (width: 3840px) and (height: 1600px) {
	.Side  {
		font-size: 165px;
		margin-left: 40px;
	}

	.navbar {
		font-size: 30px;
	}

	.div2 {
		margin-top: 10px;
	}

	.div4 {
		margin-top: 10px;
	}

	.description-container-BCAST {
		width: 20000px;
	}

	.description-container-university {
		width: 15000px;
	}
}

@media screen and (width: 5120px) and (height: 1440px) {
	.Side {
		margin-left: -100px;
	}

	.description-container-BCAST {
		width: 20000px;
	}

	.description-container-university {
		width: 17000px;
	}
}

@media screen and (width: 1920px) and (height: 1200px) {
	.Side {
		font-size: 122.5px;
		margin-left: 50px;
	}

	.description-container-BCAST {
		width: 14000px;
	}

	.description-container-university {
		width: 10000px;
	}
	
	.titles1{
		font-size:30px;
	}

	.titles2{
		font-size:30px;
	}

	.titles3{
		font-size:30px;
	}

	.titles4{
		font-size:30px;
	}

	.indivisual-descriptions {
		font-size: 15px;
	}

	.indivisual-descriptions2 {
		font-size: 15px;
	}

	.indivisual-descriptions3 {
		font-size: 15px;
	}
	

	.indivisual-descriptions4 {
		font-size: 15px;
	}

	.navbar {
		font-size: 20px;
	}
}

@media screen and (width: 2388px) and (height: 1668px) {
	.Side {
		font-size: 170px;
		margin-left: 10px
	}

	.description-container-BCAST {
		width: 19000px;
	}

	.description-container-university {
		width: 13500px;
	}
}

@media screen and (width: 2732px) and (height: 2048px) {
	.Side {
		font-size: 210px;
		margin-left: 40px;
	}

	.navbar {
		font-size: 30px;
	}

	.description-container-BCAST {
		width: 23000px;
	}

	.description-container-university {
		width: 16250px;
	}
}
